/*---------------------
    INDEX
-----------------------*/

.card{
  width: 45%;
}

.otro-contenedor-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4%;
}

.row, .g-3{
  justify-content: center;
}

.progress{
  margin-bottom: 4%;
}

/*---------------------
    LOGIN
-----------------------*/

.fw-bold{
  text-align: center;
}

/*---------------------
    CREATE PROYECT
-----------------------*/

.create{
  height: 25vh;
}

/*---------------------
    FOOTER
-----------------------*/

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: #198754;
}

