
  <%- include('./partials/head.ejs', {Titulo : 'Mecenazgo | Login'}) %> 


  <%- include('./partials/header') -%> 

  <h1 style="text-align: center;">Iniciar sesión</h1>

  <form class="row g-3" style="margin: 5%;">
    <div class="col-auto">
      <label for="staticEmail2" class="visually-hidden">Email</label>
      <input type="text" class="form-control-plaintext" id="staticEmail2" placeholder="email@ejemplo.com">
    </div>

    <div class="col-auto">
      <label for="inputPassword2" class="visually-hidden">Contraseña</label>
      <input type="password" class="form-control" id="inputPassword2" placeholder="Contraseña">
    </div>
    
    <div class="col-auto">
      <button type="submit" class="btn btn-success mb-3" >Iniciar sesión</button>
    </div>
    <p class="fw-bold">¿No estas registrado? Hace click <a href="http://localhost:3000/register">aquí</a> !</p>
  </form>
  <%- include('./partials/footer') -%> 

