  <%- include('./partials/head.ejs', {Titulo : 'Mecenazgo | Register'}) -%> 



  <%- include('./partials/header') -%> 

    <h1 style="text-align: center; margin-top: 2%;">Registrate</h1>

    <div class="errors">
      <ul>   
      </ul>
    </div>

  <div>
  <form class="register" method="POST" action="" class="row g-3" style="margin: 4%;">


    <div class="col-md-4">
      <label for="validationServer01" class="form-label">Nombre</label>      <input type="text" class="form-control " id="validationServer01" placeholder="Mark" required name='nombre'>

    </div>

    <div class="col-md-4">
      <label for="validationServer02" class="form-label">Apellido</label>
      <input type="text" class="form-control" id="validationServer02" placeholder="Otto" required name='apellido'>

    </div>

    <div class="col-md-4">
        <label for="validationServer02" class="form-label">Email</label>
        <input type="email" class="form-control" id="validationServer03" placeholder="email@ejemplo.com"  required
        name='email'>
      </div>


    <div class="col-md-6">
      <label for="validationServer03" class="form-label" >Contrase침a</label>
      <input type="password" class="form-control" id="validationServer04" required placeholder="Escribi tu contrase침a" aria-describedby="validationServer03Feedback"
      name='contrase침a'>
    </div>

    <div class="col-md-3">
      <label for="validationServer04" class="form-label">Yo soy:</label>
      <select class="form-select " id="validationServer05" aria-describedby="validationServer04Feedback" required name="tipo">
        <option selected disabled value="" >Elija una opci칩n...</option>
        <option>Emprendedor</option>
        <option>Donante</option>
      </select>
    
    </div>

    
    <div class="col-12">
      <button class="btn btn-success" type="submit">Crear</button>
    </div>
  </form>
  </div>
  

  <script src="/js/scriptRegister.js" ></script> 
  <%- include('./partials/footer') -%> 

